// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for common parts of Sub boards for HiHope RZ/G2M platform
 * and HiHope RZ/G2N platform
 *
 * Copyright (C) 2019 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>
/ {
	aliases {
		ethernet0 = &avb;
	};

	lvds {
		compatible = "panel-lvds";

		width-mm = <223>;
		height-mm = <125>;

		data-mapping = "jeida-24";

		panel-timing {
			/* 1024x600@60Hz */
			clock-frequency = <51200000>;
			hactive = <1024>;
			vactive = <600>;
			hsync-len = <240>;
			hfront-porch = <40>;
			hback-porch = <40>;
			vfront-porch = <15>;
			vback-porch = <10>;
			vsync-len = <10>;
		};

		port {
			lvds_in: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 0 5000000>;

		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
	};
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-txid";
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <0>;
		interrupt-parent = <&gpio2>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
	};
};

&can0 {
	pinctrl-0 = <&can0_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

&pfc {
	avb_pins: avb {
		mux {
			groups = "avb_link", "avb_mdio", "avb_mii";
			function = "avb";
		};

		pins_mdio {
			groups = "avb_mdio";
			drive-strength = <24>;
		};

		pins_mii_tx {
			pins = "PIN_AVB_TX_CTL", "PIN_AVB_TXC", "PIN_AVB_TD0",
			       "PIN_AVB_TD1", "PIN_AVB_TD2", "PIN_AVB_TD3";
			drive-strength = <12>;
		};
	};

	can0_pins: can0 {
		groups = "can0_data_a";
		function = "can0";
	};

	can1_pins: can1 {
		groups = "can1_data";
		function = "can1";
	};
};

&lvds0 {
	status = "okay";

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&lvds_in>;
			};
		};
	};
};

/* GP1_20 is used to select (SEL) output direction for LVDS-IF
 * SEL = L => To LVDS Connector
 * SEL = H => To MIPI-DSI
 *
 * Currently just support LVDS Connector so that set LOW for GP1_20
 */
&gpio1 {
	lvds-connector-en-gpio{
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "lvds-connector-en-gpio";
	};
};
