// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Silicon Linux sub board for CAT874 (CAT875)
 *
 * Copyright (C) 2019 Renesas Electronics Corp.
 */

/ {
	model = "Silicon Linux sub board for CAT874 (CAT875)";

	aliases {
		ethernet0 = &avb;
	};

	panel-lvds {
		compatible = "panel-lvds";

		width-mm = <476>;
		height-mm = <268>;

		data-mapping = "vesa-24";

		panel-timing {
                clock-frequency = <51000000>;
                hactive = <1024>;
                vactive = <600>;
                hback-porch = <150>;
                hfront-porch = <150>;
                vback-porch = <17>;
                vfront-porch = <17>;
                hsync-len = <20>;
                vsync-len = <15>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <0>;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel_in0: endpoint {
					remote-endpoint = <&lvds0_out>;
				};
			};
		};
	};

	vdd_bl_reg: bl-regulator {
		compatible = "regulator-fixed";
		regulator-name = "fixed-12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 5000000>;

		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";

	phy0: ethernet-phy@3 {
        rxc-skew-ps = <1500>;
		reg = <3>;
		interrupt-parent = <&gpio2>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
	};
};

&can0 {
	pinctrl-0 = <&can0_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	renesas,can-clock-select = <0x0>;
	status = "okay";
};

&pciec0 {
	status = "okay";
};

&pfc {
	avb_pins: avb {
		mux {
			groups = "avb_mii";
			function = "avb";
		};
	};

	can0_pins: can0 {
		groups = "can0_data";
		function = "can0";
	};

	can1_pins: can1 {
		groups = "can1_data";
		function = "can1";
	};
};

&lvds0 {
	status = "okay";

	clocks = <&cpg CPG_MOD 727>, <&extal_clk>;
	clock-names = "fck", "extal";
	swap = <1>;

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&panel_in0>;
			};
		};
	};
};

&lvds1 {
	status = "disable";
};

/* GP0_17 is used to select (SEL) output direction for LVDS-IF
 * SEL = L => To LVDS Connector
 * SEL = H => To MIPI-DSI
 *
 * Currently just support LVDS Connector so that set LOW for GP0_17
 */
&gpio0 {
	lvds-connector-en-gpio{
		gpio-hog;
		gpios = <17 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "lvds-connector-en-gpio";
	};
};
